body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Helvetica CE", sans-serif;
    color: #000000;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: Arial, "Arial CE", "Helvetica CE", sans-serif;
    font-size:  28px;
    font-weight: bold;
    padding: 0px;
    color: #212439;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    text-align: center;
    -moz-text-shadow:0 0 10px #53aaee;
    -webkit-text-shadow:0 0 10px #524c4c;
    text-shadow:0 0 10px snow;
}

h2 {
    font-family: Arial, "Arial CE", "Helvetica CE", sans-serif;
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #045491;
}

a:link, a:visited {
    color: #212439;
    font-size: 15px;
    font-weight : bold;
    text-decoration: none;
    -moz-text-shadow:0 0 10px #818a94;
    -webkit-text-shadow:0 0 10px #2c1919;
    text-shadow:0 0 10px #5f5e58;
}

a:link:hover, a:visited:hover  {
    color: #212439;
    font-weight : bold;
    text-decoration : underline;
}

table {
    border-collapse: collapse;
    border: none;
    margin-left: auto;
    margin-right: auto;
    width: 6em
}

td {
    padding: 0;
}

.flex-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu-link{
    padding-left: 20px;
    padding-right: 20px;
}

.game-info{
    width: 350px;
    font-family: "Kanit", sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    margin: 5px;
    text-align: center;
}

.game-info-block{
    margin-bottom: 14px;
}

.save-status{
    color: #d11141;
    font-size: 16px;
    margin-top: 10px;
    background-color: white;
}
