<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" href="/css/login.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Jacquard+24&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
</head>
<body>

<div class="login-wrapper">
        <h1 style="font-family: 'Jacquard 24', system-ui; font-size: 50px;">Registration</h1>
        <form action="/login/submit" method="post">
            <label class="login-label">
                <p>Username</p>
            </label>
            <input class="user-input" type="text" name="name" placeholder="My name is"  />

            <label class="login-label">
                <p>Password</p>
            </label>
            <input class="user-input" type="password" name="passwd" placeholder="Password" />

            <input class="login-button" type="submit" value="SUBMIT"/>
        </form>
</div>

</body>
</html>